@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing isnt inherit automatically, wir müssen on each element inherit schreiben */
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* general converting px to rem/em => set font-size to 10px!! 10 px=1rem (general 16px=1rem)  => ez viszont
nem jó mert akkor az user nem tudja magának beállitani a font-size-ot! ezért
jobb ha %-ban adjuk meg. => 10/16 => 62.5*/
html {
  font-size: 62.5%; }

/* ***************************************
----------------Animations----------------
*************************************** */
/* heading-primary--main-Animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* heading-primary--sub-Animation */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ***************************************
----------------Buttons----------------
*************************************** */
.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

/* ez egy link, tehát a link pseudoklass-al kell kijelölni */
.btn:link,
.btn:visited {
  display: inline-block;
  /* középre akarjuk: a btn olyan mintha text lenne, mert link ezért a text-boxban kell középre igazitani a text-align-al!  */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  /* 1. x 2. y 3.blur 4.color*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.244); }

.btn:active {
  transform: translate(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* ***************************************
----------------HEADER--------------------
***************************************** */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* 1. x 2. from left sied 100% 3. y 4.from top */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: relative; }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.53rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* hogy az animation ne razkodjon amikor bejön */
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* mielött lejátsza vár 3 s-t */
  /* animation-delay: 3s; */
  /* 3x történik meg az animation */
  /* animation-iteration-count: 3; */
  /* https://developer.mozilla.org/de/docs/Web/CSS/animation-timing-function */
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-weight: 700;
  letter-spacing: 1.75rem;
  font-size: 2rem;
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
  /* rövidebben is irhatjuk: */
  animation: moveInRight 1s ease-out; }
