/* ***************************************
----------------HEADER--------------------
***************************************** */

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fe6, #28b48577),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* 1. x 2. from left sied 100% 3. y 4.from top */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* hogy az animation ne razkodjon amikor bejön */
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  font-size: 60px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* mielött lejátsza vár 3 s-t */
  /* animation-delay: 3s; */
  /* 3x történik meg az animation */
  /* animation-iteration-count: 3; */
  /* https://developer.mozilla.org/de/docs/Web/CSS/animation-timing-function */
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-weight: 700;
  letter-spacing: 17.5px;
  font-size: 20px;
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
  /* rövidebben is irhatjuk: */
  animation: moveInRight 1s ease-out;
}
