.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  /* 1. x 2. from left sied 100% 3. y 4.from top */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;

  @include respond(phone) {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 64vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 64vh, 0 100%);
  }
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.53rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
