.popup {
  position: fixed;
  background-color: rgba($color-black, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      font-size: 3.5rem;
      top: 3rem;
      right: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 80%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 1);
    border-radius: 5px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.2s;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__left {
    width: 33.33334%;
    display: table-cell;
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 5rem 3rem;
  }
  &__paragraph {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    column-count: 2;
    column-gap: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }
}
